.DS_Store
*/.DS_Store
output*/
*Output*/
*model*/
*checkpoints*/
.*
**/__pycache__/
*.pyc
!.gitignore
**/.env
*old*/
*datasets*/
/dataGeneration/data/
**real_notes**
**Real**
**real**
**forHumanTest**